.store-container {
  display: flex;
  flex-direction: column;
}

.store-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.left-title {
  display: flex;
  align-items: center;
}

.store-title {
  font-size: 16px;
  font-weight: 600;
}

.right-controls {
  display: flex;
  align-items: center;
  gap: 16px; /* Adjust the gap between dropdown, search bar, and checkout button */
}

.search-bar {
  width: 200px; /* Adjust width as needed */
}

.content-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-image-container {
  position: relative;
  overflow: hidden;
}

.product-image {
  width: 100%;
  transition: transform 0.3s ease;
}

.product-image-container:hover .product-image {
  transform: scale(1.05);
}

.add-to-cart-button {
  margin-top: 8px;
  width: 100%;
}

.view-details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  padding: 10px 0;
  transform: translateY(100%);
  transition: transform 0.3s ease;
}

.product-image-container:hover .view-details {
  transform: translateY(0);
}

.product-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.product-detail-image {
  width: 40%;
  max-height: 300px;
  object-fit: cover;
  margin-bottom: 16px;
}

.product-detail-price {
  font-weight: bold;
}

.product-detail-list {
  list-style-type: none;
  padding: 0;
}

.product-detail-list li {
  margin-bottom: 8px;
}

.edit-button {
  margin-top: 16px;
}

.checkout-summary {
  margin-top: 16px;
}

.checkout-total {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 8px;
}

.place-order-button {
  margin-top: 16px;
  width: 100%;
}

/* Existing styles */

.place-order-button {
  margin-top: 16px;
  width: 100%;
}

/* Add these styles for confirmation modal */
.ant-modal-confirm-body {
  text-align: center;
}

.ant-modal-confirm-title {
  font-size: 24px;
}

.ant-modal-confirm-btns {
  margin-top: 20px;
}

.ant-notification-notice {
  display: flex;
  align-items: center;
  justify-content: center;
}
